/AsteroidsLibGDX/target/
/AsteroidsEntityFramework/Common/target/
/AsteroidsEntityFramework/Player/target/
/AsteroidsEntityFramework/Core/target/
/AsteroidsEntityFramework/Enemy/target/
/AsteroidsEntityFramework/Asteroid/target/
/AsteroidsEntityFramework/Bullet/target/
/AsteroidsEntityFramework/CollisionHandler/target/
/AsteroidsNetbeansModuleApplication/Core/target/
/PaxAsteroids/OSGiCommon/target/
/PaxAsteroids/OSGiCommonAsteroids/target/
/PaxAsteroids/OSGiCommonBullet/target/
/PaxAsteroids/OSGiCommonEnemy/target/
/PaxAsteroids/OSGiCore/target/
/PaxAsteroids/OSGiEnemy/target/
/PaxAsteroids/OSGiLibGDX/target/
/AsteroidsOSGi/OSGiCommon/target/
/AsteroidsOSGi/OSGiCommonAsteroids/target/
/AsteroidsOSGi/OSGiCommonBullet/target/
/AsteroidsOSGi/OSGiCommonEnemy/target/
/AsteroidsOSGi/OSGiCore/target/
/AsteroidsOSGi/OSGiEnemy/target/
/AsteroidsOSGi/OSGiLibGDX/target/
/AsteroidsOSGi/Asteroid/target/
/AsteroidsOSGi/Common/target/
/AsteroidsOSGi/Player/target/
/AsteroidsOSGi/Enemy/target/
/AsteroidsOSGi/Bullet/target/
/AsteroidsOSGi/CollisionHandler/target/
/AsteroidsNetbeansModuleApplication/Common1/Common/Common/target/
/AsteroidsNetbeansModuleApplication/Common/target/
target
/LibGDX/nbproject/private/
/AsteroidsNetbeansModuleApplication/LIbGDX/nbproject/private/
target/
*.jar
*.nbm
.idea/